<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juego de Reconocimiento de Sonidos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script>
        const idAlumno = sessionStorage.getItem('idAlumno');
        if (!idAlumno) {
            window.location.href = '/'
        }
    </script>
    <style>
        /* Paleta de colores */
        :root {
            --azul: rgb(56, 182, 255);
            --azul-oscuro: rgb(0, 82, 165);
            --verde: rgb(149, 253, 17);
            --rosado: rgb(237, 26, 119);
            --morado: rgb(199, 0, 255);
            --naranja: rgb(255, 167, 16);
            --amarillo: rgb(253, 215, 0);
            --rojo: rgb(255, 0, 0);
        }

        body {
            background-image: url('/assets/FondoModuloAuditivo.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container-game {
            text-align: center;
            background-color: rgba(255, 255, 255, 0.9);
            padding: 50px;
            border-radius: 20px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            width: 60%;
            position: relative;
        }

        .icon-speaker {
            font-size: 80px;
            cursor: pointer;
            color: var(--morado);
            margin-bottom: 20px;
            transition: color 0.3s;
        }

        .icon-speaker:hover {
            color: var(--rosado);
        }

        .option-button {
            width: 160px;
            height: 160px;
            font-size: 4rem;
            font-weight: bold;
            margin: 15px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.3s;
            border: none;
            border-radius: 10px;
            color: black;
            background-color: var(--azul);
        }

        .option-button:hover {
            background-color: var(--azul-oscuro);
            transform: scale(1.05);
            color: white;
        }

        .btn-validate {
            margin-top: 20px;
            font-size: 24px;
            padding: 10px 20px;
            background-color: var(--verde);
        }

        .modal-check-icon {
            font-size: 50px;
            color: var(--verde);
        }

        .level {
            position: absolute;
            top: 20px;
            right: 30px;
            font-size: 3rem;
            color: var(--morado);
            font-weight: bold;
        }

        #stars img {
            width: 100px;
            height: auto;
            margin: 0 10px;
        }

        .btn-volver {
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 1000;
            padding-left: 15px !important;
            padding: 0.5vw 2vw;
            font-size: 1.2vw;
            background-color: var(--morado);
            border: none;
            color: white;
            border-radius: 10px;
            cursor: pointer;
        }

        .btn-volver:hover {
            background-color: var(--rosado);
            color: white;
        }

        .btn-volver i {
            margin-right: 8px;
        }
    </style>
</head>
<body> 
    <button class="btn btn-volver btn-lg" id="btn-volver">
        <i class="fas fa-arrow-left"></i> Menú
    </button>
    <!-- Modal de Inicio -->
    <div class="modal fade" id="startModal" tabindex="-1" aria-labelledby="startModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <i class="fas fa-check-circle modal-check-icon mb-3"></i>
                    <h4>¡Bienvenido!</h4>
                    <p>Haz clic en el botón para iniciar</p>
                    <button class="btn btn-success mb-3" id="startButton">Iniciar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container container-game">
        <div id="level" class="level">Nivel: 1/10</div>
        <i class="fas fa-volume-up icon-speaker mb-4" id="playSound"></i>
        <div class="d-flex justify-content-center mt-5" id="options-container">
            <!-- Botones de opciones se generarán aquí -->
        </div>
        <button class="btn btn-primary btn-validate" id="validateButton">Validar</button>
    </div>

    <!-- Audios para respuestas correctas e incorrectas -->
    <audio id="correctSound" src="/assets/sonidos/correcto.mp3"></audio>
    <audio id="incorrectSound" src="/assets/sonidos/error.mp3"></audio>
    <audio id="completedSound" src="/assets/sonidos/completado.mp3"></audio>
    <audio id="twoStarsSound" src="/assets/sonidos/medio.mp3"></audio>
    <audio id="oneStarSound" src="/assets/sonidos/lost.mp3"></audio>

    <div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="resultModalLabel">Resultado de la Lección</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="stars" class="text-center mb-4">
                        <!-- Aquí se mostrarán las imágenes de las estrellas -->
                    </div>
                    <p id="resultMessage" class="text-center"></p>
                    <div class="text-center mt-3">
                        <h3 id="scoreDisplay"></h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="retryBtn" style="display:none;">Reintentar</button>
                    <button type="button" class="btn btn-success" id="nextExerciseBtn">Siguiente Nivel</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script>
        const levels = [
            { correct: 'p', options: ['q', 'b'] },
            { correct: 'q', options: ['p', 'b'] },
            { correct: 's', options: ['z', 'c'] },
            { correct: 'z', options: ['s', 'e'] },
            { correct: 'b', options: ['d', 'p'] },
            { correct: 'd', options: ['b', 'q'] },
            { correct: 'e', options: ['c', 'o'] },
            { correct: 'c', options: ['e', 'g'] },
            { correct: 'm', options: ['n', 'w'] },
            { correct: 'n', options: ['m', 'h'] }
        ];

        let currentLevel = 0;
        let totalErrors = 0;
        let attempts = 0;
        const maxAttempts = 3;

        const optionsContainer = document.getElementById('options-container');
        const validateButton = document.getElementById('validateButton');
        const playSound = document.getElementById('playSound');
        const correctSound = document.getElementById('correctSound');
        const incorrectSound = document.getElementById('incorrectSound');
        const completedSound = document.getElementById('completedSound');
        const twoStarsSound = document.getElementById('twoStarsSound');
        const oneStarSound = document.getElementById('oneStarSound');
        const retryBtn = document.getElementById('retryBtn');
        const nextExerciseBtn = document.getElementById('nextExerciseBtn');
        const btnVolver = document.getElementById('btn-volver');
        const levelElement = document.getElementById('level');

        btnVolver.addEventListener('click', () => {
            window.location.href = '/aprendeJugando';
        });

        function loadLevel(levelIndex) {
            const levelData = levels[levelIndex];
            selectedOption = null;
            optionsContainer.innerHTML = '';
            levelElement.textContent = `Nivel: ${levelIndex + 1}/10`;
            const options = shuffleArray([levelData.correct, ...levelData.options]);

            options.forEach((option) => {
                const button = document.createElement('button');
                button.className = 'btn option-button';
                button.textContent = option;
                button.onclick = () => {
                    playLetterSound(option);
                    document.querySelectorAll('.option-button').forEach(btn => {
                        btn.style.backgroundColor = 'var(--azul)';
                    });

                    button.style.backgroundColor = 'var(--azul-oscuro)';
                    selectedOption = option;
                };
                optionsContainer.appendChild(button);
            });

            playLevelSound(levelData.correct);
        }

        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
            return array;
        }

        function playLevelSound(letter) {
            const audio = new Audio(`/assets/sonidos/sonidos-letras/letra-${letter}.mp3`);
            audio.play().catch(error => {
                console.error('Error al reproducir el sonido:', error);
            });
        }

        function playLetterSound(letter) {
            const audio = new Audio(`/assets/sonidos/sonidos-letras/letra-${letter}.mp3`);
            audio.play().catch(error => {
                console.error('Error al reproducir el sonido:', error);
            });
        }

        function validateAnswer() {
            if (selectedOption) {
                const levelData = levels[currentLevel];
                const selectedButton = Array.from(document.querySelectorAll('.option-button'))
                    .find(btn => btn.textContent === selectedOption);

                if (selectedOption === levelData.correct) {
                    selectedButton.style.backgroundColor = 'rgb(149, 253, 17)';
                    correctSound.play();
                    currentLevel++;
                    if (currentLevel < levels.length) {
                        setTimeout(() => {
                            loadLevel(currentLevel);
                        }, 1000);
                    } else {
                        setTimeout(() => {
                            showResults();
                        }, 1000);
                    }
                } else {
                    selectedButton.style.backgroundColor = 'rgb(255, 0, 0)';
                    incorrectSound.play();
                    totalErrors++;
                   
                }
            } else {
                alert('Por favor, selecciona una opción antes de validar.');
            }
        }

        validateButton.addEventListener('click', validateAnswer);

        playSound.addEventListener('click', () => {
            const levelData = levels[currentLevel];
            playLevelSound(levelData.correct);
        });

        function showResults() {
            const totalCorrect = levels.length - totalErrors;
            let correctPercentage = (totalCorrect / levels.length) * 100;
            correctPercentage = Math.max(correctPercentage, 5);

            let stars = '';
            let message = '';

            if (correctPercentage === 100) {
                stars = '<img src="/assets/estrella.png" alt="estrella">'.repeat(3);
                message = '¡Excelente trabajo! Perfecto.';
                completedSound.play();
            } else if (correctPercentage >= 50) {
                stars = '<img src="/assets/estrella.png" alt="estrella">'.repeat(2);
                message = '¡Buen trabajo! Sigue practicando.';
                twoStarsSound.play();
            } else {
                stars = '<img src="/assets/estrella.png" alt="estrella">';
                message = '¡Puedes mejorar! Inténtalo de nuevo.';
                oneStarSound.play();
            }

            document.getElementById('stars').innerHTML = stars;
            document.getElementById('resultMessage').textContent = message;
            document.getElementById('scoreDisplay').innerHTML = `Calificación: ${correctPercentage.toFixed(2)}%`;
            localStorage.setItem('auditivo', `${correctPercentage.toFixed(2)}`);

            if (correctPercentage < 100 && attempts < maxAttempts) {
                attempts++;
                retryBtn.style.display = 'inline-block';
                retryBtn.textContent = `Intento ${attempts} de ${maxAttempts}`;
            } else {
                retryBtn.style.display = 'none';
            }

            $('#resultModal').modal('show');
        }

        retryBtn.addEventListener('click', () => {
            $('#resultModal').modal('hide');
            resetGame();
        });

        nextExerciseBtn.addEventListener('click', () => {
            window.location.href = "/aprendeJugando";
        });

        function resetGame() {
            currentLevel = 0;
            totalErrors = 0;
            loadLevel(currentLevel);
        }

        $(document).ready(function() {
            $('#startModal').modal('show');
        });

        document.getElementById('startButton').addEventListener('click', () => {
            $('#startModal').modal('hide');
            loadLevel(currentLevel);
        });
    </script>
</body>
</html>
