/* Paleta de colores */
:root {
    --color-azul: rgb(56, 182, 255);
    --color-verde: rgb(149, 253, 17);
    --color-rosa: rgb(237, 26, 119);
    --color-morado: rgb(199, 0, 255);
    --color-naranja: rgb(255, 167, 16);
    --color-amarillo: rgb(253, 215, 0);
    --rojo: rgb(255, 34, 34);
}

/* Botones principales */
.btn-primary {
    background-color: var(--color-azul);
    border-color: var(--color-azul);
}

.btn-primary:hover {
    background-color: var(--color-verde);
    border-color: var(--color-verde);
}

/* Botones secundarios */
.btn-secondary {
    background-color: var(--color-rosa);
    border-color: var(--color-rosa);
}

.btn-secondary:hover {
    background-color: var(--color-morado);
    border-color: var(--color-morado);
}

/* Botones de alerta */
.btn-danger {
    background-color: var(--color-naranja);
    border-color: var(--color-naranja);
}

.btn-danger:hover {
    background-color: var(--color-amarillo);
    border-color: var(--color-amarillo);
}

/* Cambiar color de los textos de encabezados */
h1,  h3, h4{
    color: white !important ;
}

.navbar a{
    color: white !important ;
    font-size: 3rem !important;
}

/* Colores de fondo de la página */
body {
    
    color: #333; /* Color del texto */
}

.body-login{
    background-image: url('/assets/fondoLogin.png');
    background-size: cover; /* Para que cubra toda la pantalla */
    background-position: center; /* Para centrar la imagen */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    background-attachment: fixed; /* Para que el fondo quede fijo al hacer scroll */
}
